/* BANNERS */
.banners {position:relative; display:block; margin:-150px 5px 0 5px; z-index:1000;}
.banners p {position:relative; float:left; margin-right:10px; width:182px; height:272px;}
.banners p:last-of-type {margin-right:0;}
  .banners img {position:absolute; z-index:0;}
  .banners a {position:absolute; z-index:1; height:272px; width:182px; outline:1px solid #fff;}
  .banners a:hover {outline:4px solid #fff;}
    .banners span {position:absolute; bottom:0px; padding:20% 5px 5px 5px; width:172px; font-weight:400; text-transform:uppercase; font-size:1.5em; font-family:'open sans', verdana, sans-serif; line-height:1; letter-spacing:-.05em;
      background: -moz-linear-gradient(bottom,  rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
      background: -webkit-gradient(linear, left bottom, left top, color-stop(0%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,0)));
      background: -webkit-linear-gradient(bottom,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
      background: -o-linear-gradient(bottom,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
      background: -ms-linear-gradient(bottom,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
      background: linear-gradient(to top,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 );
    }
  .play {background:transparent url(../images/play.png) no-repeat center center;}
/* BRANDS */
.brands ul {list-style:none; padding:0;}
  .brands li {display:inline-block;}
    .brands a {text-indent: 100%; white-space: nowrap; overflow: hidden; background-image:url(../images/sprites.png); background-repeat:no-repeat; background-position:0 0; display:block; height:79px;}
    #lazers {background-position:0 0; width:142px; margin-right:58px;}
    #src {background-position:-194px 0; width:175px; margin-right:58px;}
    #ymca {background-position:-421px 0; width:90px; margin-right:58px;}
    #aac {background-position:-569px 0; width:90px; margin-right:58px;}
    #support {background-position:-710px 0; width:172px;}
    #lazers:hover {background-position:0 -83px;}
    #src:hover {background-position:-194px -83px;}
    #ymca:hover {background-position:-421px -83px;}
    #aac:hover {background-position:-569px -81px;}
    #support:hover {background-position:-710px -83px;}
/* NEWS, EVENTS, SOCIAL */
a {color:#222; font-weight:200;}
.news h2, .events h2, .social h2 {display:inline-block; text-transform:uppercase; font-weight:200; background:#dd0000; padding:5px; font-size:1em; color:#fff;}
.news h3 {font-size:.8em; text-transform:uppercase; color:#dd0000; margin:.75em 0 .25em 0;}
.news p {margin-bottom:.75em;}
.events td {line-height:1.5;}
.events li {font-size:1.25em; line-height:2;}
.social {margin-right:5px;}
  .social ul {list-style:none; padding:0;}
    .social a {line-height:1.75; padding-left:36px; color:#003151;font-family:'nothing you could do', 'open sans', verdana, sans-serif; font-size:1.25em; background:url(../images/sprites.png) no-repeat 0 0;}
    #facebook {background-position:0 -171px;}
    #twitter {background-position:0 -208px;}
    #flickr {background-position:0 -246px;}
    #youtube {background-position:0 -283px;}
    #linkedin {background-position:0 -322px;}




