/* Requires: occ_global.css, gui.css, jqueryui.css
/* occ_global overrides */
#occheaderbg.opened, .headernav.opened {
height: 300px;
}
.headernav div, .headernav .formbox {
margin-left: 0;
}
/* remove horizontal offset for homepage */
.headernav h3 {
background: none;
padding: 0;
}
/* remove tap menu icon for homepage */
.headernav ul {
height: 230px;
}
/* so all columns in headernav are same height for homepage */
#main {
background: none;
}
/* remove page top tile graphic for homepage */
.bg_banners {
margin-top: -150px;
}
/* vertical offset for homepage*/
/* Brands */
.brands {
position: relative;
height: auto;
margin: 2em 0 1em 0;
background: rgba(255,255,255,1);
border-radius: 5px;
}
/* needed this to set z-index to keep bg_slideshow from overlapping .brands */
.brands ul {
list-style: none;
padding: 0;
z-index: 2;
}
.brands li {
display: inline-block;
}
  .ie7 .brands li {
display: block;
float: left;
}
.brands a {
text-indent: 100%;
white-space: nowrap;
overflow: hidden;
background-image: url("../images/homepage_sprites.png");
background-repeat: no-repeat;
background-position: 0 0;
display: block;
height: 79px;
}
#lazers {
background-position: 0 0;
width: 180px;
margin-right: 45px;
}
#src {
background-position: -225px 0;
width: 175px;
margin-right: 45px;
}
#ymca {
background-position: -450px 0;
width: 90px;
margin-right: 45px;
}
#aac {
background-position: -595px 0;
width: 90px;
margin-right: 45px;
}
#support {
background-position: -730px 0;
width: 172px;
}
#lazers:hover {
background-position: 0 -83px;
}
#src:hover {
background-position: -225px -83px;
}
#ymca:hover {
background-position: -450px -83px;
}
#aac:hover {
background-position: -595px -81px;
}
#support:hover {
background-position: -730px -83px;
}
/* News, Events, Social */
.news, .events, .social {
position: relative;
z-index: 1;
}
/* prevents the bg_slideshow from overlapping this content */
a {
color: #222;
font-weight: 200;
}
.news h2, .events h2, .social h2 {
display: inline-block;
text-transform: uppercase;
font-weight: 200;
background: #dd0000;
padding: 5px;
font-size: 1em;
color: #fff;
}
  .ie7 .news h2, .ie7 .events h2, .ie7 .social h2 {
display: block;
}
.news h3 {
font-size: .8em;
text-transform: uppercase;
color: #dd0000;
margin: .75em 0 .25em 0;
}
.news p {
margin-bottom: .75em;
}
.events td {
line-height: 1.5;
}
.news li, .events li {
font-size: 1.25em;
line-height: 1em;
margin-bottom: .75em;
}
.social {
margin-right: 5px;
}
.social ul {
list-style: none;
padding: 0;
}
.social a {
line-height: 1.75;
padding-left: 36px;
color: #003151;
font-family: 'nothing you could do', 'open sans', verdana, sans-serif;
font-size: 1.25em;
background: url(../images/homepage_sprites.png) no-repeat 0 0;
}
#facebook {
background-position: 0 -171px;
}
#twitter {
background-position: 0 -208px;
}
#flickr {
background-position: 0 -246px;
}
#youtube {
background-position: 0 -283px;
}
#linkedin {
background-position: 0 -322px;
}
/* Media Queries (see occ_global.css for complete rules) */
@media all and (max-width:970px),(max-width:550px) {
  #aside {
display: none;
}
  .brands {
text-align: center;
}

}
@media all and (max-width:970px) {
  #occheaderbg.opened, .headernav.opened, .headernav ul {
height: auto;
}
  .headernav div {
width: 20%;
}

}
@media all and (max-width:550px) {
  .bg_slideshow {
margin-top: 0px;
}
  .bg_slideshow_controls {
position: relative;
float: right;
z-index: 6;
top: 10px;
margin: 0;
width: 135px;
list-style: none;
padding: 0;
}
  .brands ul {
margin: 0 0 5px 0;
padding: 0;
}
  .brands li {
display: block;
padding: 0;
background: #003151;
margin: 0;
}
  .brands a {
text-indent: 0;
white-space: normal;
overflow: visible;
background: none;
height: auto;
color: #fff;
width: auto;
display: block;
font-size: 1em;
line-height: 2em;
padding: .5em;
border-bottom: 1px solid #fff;
}
  #lazers, #src, #aac, #ymca, #support {
width: auto;
margin: 0;
}
}