.ribbon:before, .ribbon:after {
  display:none;
}
.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
  display:none;
}
.news-item {
  float: left;
  width: 310px;
  position:relative;
  overflow:hidden;
  margin-bottom:0;
  margin-right:5px;
  min-height:310px;
}
.news-item-img {
  min-height:266px;
  margin-top:20px;
}
.news-item .news-item-img {
  width:470px;
  height:auto;
  margin-top:0;
}
.news-item .news-item-title {
  position:relative;

}
.feed-twitter {
  display:none;
}